h2{
    padding-left: 140px;
}
table{
    border-collapse: collapse;
}
caption{
    font-weight: bold;
    padding-bottom: 10px;
}
td, th{
    border: 2px solid black;
    padding: 5px 15px;
}
#tp{
    text-align: right;
    color: red;
}
th{
    background-color:bisque;
}
#two, #four{
    background-color: #E8E8E8;
}